.field{    
    margin: auto;
    display: table;
}

.field-container {
}

.field-row{
    margin: -3px;
}

.field-cell{
    padding: 0;
    margin: 0px 1px;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #A2D4DE;
    
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -o-user-select: none;
}
.field-cell.alive {
    background-color: #2190A5;
}
.field-cell.dead {
    background-color: #A2D4DE;
}
.field-cell:hover {
    background-color: #25B7D3;
}