<div class="ui segments" >
    <div class="ui top segment card">
        <div class="content">
            Field layout            
        </div>
    </div>
    <div class="ui secondary segment">
        <div class="field-container">
            <div class="field-row" ng-repeat="i in range(0, 31)">
                <div class="field-cell {{field[i][j] ? 'alive' : 'dead'}}" 
                     ng-repeat="j in range(0, 31)" 
                     ng-mouseover="onHover(this, i, j)"
                     ng-mousedown="onMousedown(this, i, j)" 
                     ng-mouseup="onMouseup(this, i, j)"
                ></div>
            </div>
        </div>
    </div>
    <div class="ui bottom segment card">
        <div class="extra content">
            <span class="left floated ui tiny basic labeled icon button" ng-click="clearData()">
                <i class="icon erase"></i>
                Clear
            </span>
            <span class="left floated ui tiny basic labeled icon button" ng-click="revertData()">
                <i class="icon undo"></i>
                Revert
            </span>
            <span class="right floated ui tiny basic labeled icon button">
                <i class="icon arrow down"></i>
                Save pattern
            </span>
            <span class="right floated ui tiny basic labeled icon button">
                <i class="icon arrow up"></i>
                Load pattern
            </span>
        </div>
    </div>
</div>